{
  "plugins": ["relay"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": "49",
          "firefox": "52",
          "edge": "15",
          "ie": "11",
          "opera": "49",
          "safari": "11",
          "android": "4.4",
          "ios": "10"
        },
        "modules": false,
        "loose": true
      }
    ],
    "stage-2",
    "react"
  ]
}
